﻿@{
    ViewBag.Title = "Home";
}

<h1>Welcome to the Communication Game!!!</h1>

<div><input type="button" class="btn" Value="Player 1" id="player1" onclick="location.href='@Url.Action("Game", "UnicodeCharacters")', setID(1)" /></div>

<div><input type="button" class="btn" Value="Player 2" id="player2" onclick="location.href='@Url.Action("Game", "UnicodeCharacters")', setID(2)" /></div>

<div><input type="button" class="btn" Value="Admin" onclick="location.href='@Url.Action("Game", "Home")'" /></div>


@section scripts {
    
    
    <script>
        // local storage playerID = value of button clicked
        function setID(id) {
            localStorage.setItem('pID', id);
            // in view 
        }
        // if check local storage value and show that if statement







    </script>
    
    }