﻿@model CommGame.UI.Models.SolButtModel
@{ ViewBag.Title = "Game";
}

<h2><strong>Communication Game</strong></h2>
<input type="button" class="btn" Value="Player 1" id="player1" onclick="playerOne()" />

<input type="button" class="btn" Value="Player 2" id="player2" onclick="playerTwo()" />
<table id="solutionTable">

    <tr>
        <th>Solution</th>
        <th>Col 1</th>
        <th>Col 2</th>
        <th>Col 3</th>
        <th>Col 4</th>
    </tr>
    <tr>
        <th>Row A</th>
        @for (int i = 0; i < (Model.SolList.Count() < 4 ? Model.SolList.Count() : 4); i++)
        {
            <td class="solVal">
                @Html.Raw(Server.HtmlDecode(Model.SolList.ElementAt(i).CharHTML))
            </td>
        }
    </tr>
    <tr>
        <th>Row B</th>
        @for (int i = 4; i < (Model.SolList.Count() < 8 ? Model.SolList.Count() : 8); i++)
        {
            <td class="solVal">
                @Html.Raw(Server.HtmlDecode(Model.SolList.ElementAt(i).CharHTML))
            </td>
        }
    </tr>
    <tr>
        <th>Row C</th>
        @for (int i = 8; i < (Model.SolList.Count() < 12 ? Model.SolList.Count() : 12); i++)
        {
            <td class="solVal">
                @Html.Raw(Server.HtmlDecode(Model.SolList.ElementAt(i).CharHTML))
            </td>
        }
    </tr>
</table>

<table id="problemTable">

    <tr>
        <th>Problem</th>
        <th>Col 1</th>
        <th>Col 2</th>
        <th>Col 3</th>
        <th>Col 4</th>
    </tr>
    @for (int i = 0; i < 3; i++)
    {
        <tr>
            <th>
                Row @((char)(i + 65) )
            </th>
            @for (int j = 0; j < 4; j++)
                {
                <td class="probVal holder" id="@((char)(i + 65) )@(j + 1)" ></td>
            }

        </tr>
    }
    @*<tr>
        <th>Row A</th>
        <td id="a1" class="holder"></td>
        <td id="a2" class="holder"></td>
        <td id="a3" class="holder"></td>
        <td id="a4" class="holder"></td>
    </tr>
    <tr>
        <th>Row B</th>
        <td id="b1" class="holder"></td>
        <td id="b2" class="holder"></td>
        <td id="b3" class="holder"></td>
        <td id="b4" class="holder"></td>
    </tr>
    <tr>
        <th>Row C</th>
        <td id="c1" class="holder"></td>
        <td id="c2" class="holder"></td>
        <td id="c3" class="holder"></td>
        <td id="c4" class="holder"></td>
    </tr>*@
</table>

<table id="buttons">

    @for (int i = 0; i < 4; i++)
    {
        <tr>
            @for (int j = 6 * i; j < (Model.ButtList.Count() < (i * 6 == 0 ? 6 : (i + 1) * 6) ? Model.ButtList.Count() : (i * 6 == 0 ? 6 : (i + 1) * 6)); j++)
            {
                <td>
                    <a class="btn btn-default box" draggable="true" ondrag="getValue(@j)" value="@Html.Raw(Server.HtmlDecode(Model.ButtList.ElementAt(j).CharHTML))">@Html.Raw(Server.HtmlDecode(Model.ButtList.ElementAt(j).CharHTML))</a>
                </td>
            }
        </tr>
    }
</table>


<table>
    
    <tr>
        
        <td>
                      <input type="text" id="message" />
                      <input type="button" id="sendmessage" value="Send" />
                      <input type="hidden" id="displayname" />
                      <ul id="discussion"></ul>
           
        </td>

    </tr>

</table>

    @*@Html.HiddenFor(x => x.ToString())*@

@section scripts{
    <script src="~/Scripts/CustomJS.js"></script>

<script>
        localStorage.setItem('pID', 0);
        function playerOne()
        {
            $('#solutionTable').hide();


            $('#buttons').show();

        }
        function playerTwo()
        {
            $('#solutionTable').show();

            $('#buttons').hide();
        }

</script>

    }