﻿@model IEnumerable<CommGame.Data.UnicodeCharacter>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CharHTML)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <p>@Html.DisplayFor(modelItem => item.CharHTML)</p>
            <p>@Html.Raw(Server.HtmlDecode(item.CharHTML))</p>
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CharID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CharID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CharID })
        </td>
    </tr>
}

</table>
