﻿/*
$primary : #292426;
$secondary : #B0ADA9;
$red : #E26A71;
$yellow : #FCDEA2;
$green : #009E87;
    1.491228070175439
    #392a31
*/
body {
    padding: 0;
    color: #fff;
}

.body-content {
    position: absolute;
    border: 1.5em solid;
    border-top-color: #B0ADA9;
    border-left-color: #B0ADA9;
    border-bottom-color: #57524F;
    border-right-color: #57524F;
    background-color: #292426;
    max-width: 100%;
    width: 100%;
    height: 100%;
    padding: 0;
}

    .body-content .container {
        margin: 0;
        height: 100%;
        max-width: 100%;
        border: 1.5em solid;
        border-top-color: #57524F;
        border-left-color: #57524F;
        border-bottom-color: #2B2927;
        border-right-color: #2B2927;
    }

h2 {
    padding-bottom: 1em;
}

#solutionTable {
    background-color: #E26A71;
}

    #solutionTable td {
        border: 2px solid #fff;
    }

#problemTable {
    background-color: #2296CF;
}

    #problemTable td {
        border: 2px solid #fff;
    }

#buttons a {
    background-color: #009E87;
    color: inherit;
}

table {
    border: solid .5em #52484C;
    width: 40%;
    height: 27.5%;
    margin: auto;
    margin-top: -.5em;
    background: #A39097;
    box-shadow: #A39097 10px 10px;
    font-weight: bold;
}

    table th {
        border: solid 2px #52484C;
        padding: 2%;
        background: #A39097;
    }

    table td {
        width: 15%;
    }

    table tr td .btn-default {
        width: 100%;
        height: 100%;
        border-color: #52484C;
        border-width: 2px;
        font-size: inherit;
        position: relative;
    }

@media (max-width: 990px) {
    body {
        font-size: 8px;
    }
}

@media (max-width: 760px) {
    body {
        font-size: 6px;
    }
}

#player1, #player2 {
    width: 20%;
    margin: 15%;
}

footer {
    bottom: .5%;
    position: fixed;
    background-color: #726865;
    border-radius: 2em;
    padding-top: .3em
}
